<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <script src="https://kit.fontawesome.com/be6263c01e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>

    <div id="modal" class="absolute z-20 flex w-full invisible opacity-0 justify-center transition-all">
        <!-- Overlay -->
        <div class="w-full h-full min-h-screen bg-black opacity-20 absolute z-30"></div>
        <!-- Modal content -->
        <div id="modal-content" class="bg-sand-900 rounded-sm mx-8 my-8 md:mx-16 shadow px-6 pb-16 pt-8 z-40 grid gap-y-2 break-words">
            <div class="flex flex-col items-end">
                <i id="close-modal" class="fa fa-times cursor-pointer"></i>
            </div>
        </div>
    </div>

    <div id="alert" class="absolute z-20 flex invisible opacity-0 justify-center items-center transition-all min-h-screen min-w-full">
        <!-- Overlay -->
        <div class="w-full h-full min-h-screen bg-black opacity-20 absolute z-30"></div>
        <!-- Modal content -->
        <div id="alert-content" class="bg-sand-900 rounded-sm mx-8 my-8 md:mx-16 shadow px-6 py-8 z-40 grid gap-y-2 break-words">
            <div class="flex flex-col items-end">
                <h4>Are you sure you want to complete this order?</h4>

                <div class="flex flex-row gap-x-2 mt-8">
                    <button data-action="cancel" class="rounded-sm py-2 px-6 pointer text-sm hover:bg-coffee-100 text-cappucino-700 transition duration-200 flex justify-center">Cancel</button>
                    <button data-action="continue" class="bg-coffee-700 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-cappucino-700 hover:text-white transition duration-200 flex justify-center">Continue</button>
                </div>
            </div>
        </div>
    </div>
    
    <section id="main-content" class="relative w-full grid min-h-screen" style="grid-template-columns: auto 1fr; grid-template-rows: auto 1fr;">
        <div id="aside-overlay" class="absolute w-full h-full z-20 bg-black invisible opacity-0"></div>
        <aside class="w-64 md:w-32 lg:w-64 h-full z-50 row-span-2 justify-start md:items-center lg:items-start fixed md:relative text-sand-900 px-8 pt-16 bg-cappucino-900 flex flex-col gap-y-16 transition-all duration-500  transform -translate-x-64 md:translate-x-0">
            <span class="flex flex-row items-center text-white">
                <img src="/public/images/Single Filled Beans.svg" class="pr-4 h-8 box-border" alt="logo" style="filter : invert(38%) sepia(100%) saturate(389%) hue-rotate(130deg) brightness(90%) contrast(92%)" />
                <span class="inline md:hidden lg:inline font-serif text-xl">coffee roaster</span>          
            </span>
            <span class="flex gap-x-2 items-center cursor-pointer opacity-50 hover:opacity-100 transition duration-200">
                <i class="far fa-calendar text-2xl inline"></i>
                <span class="inline md:hidden lg:inline">Order Manager</span>
            </span>
            <span class="flex gap-x-2 items-center cursor-pointer opacity-50 hover:opacity-100 transition duration-200">
                <i class="fa fa-history text-2xl inline"></i>
                <span class="inline md:hidden lg:inline">History</span>
            </span>
            <span class="flex gap-x-2 items-center cursor-pointer opacity-50 hover:opacity-100 transition duration-200">
                <i class="fas fa-book-open text-2xl inline"></i>
                <span class="inline md:hidden lg:inline">Product Manager</span>
            </span>
            <span class="flex gap-x-2 items-center cursor-pointer opacity-50 hover:opacity-100 transition duration-200">
                <i class="fas fa-sign-out-alt text-2xl inline"></i>
                <span class="inline md:hidden lg:inline">Exit</span>
            </span>
        </aside>
        <nav class="bg-cover relative col-span-2 md:col-span-1"style="background-image : url('/public/images/coffee\ shop.jpg')">
            <div class="py-16 ml-4 md:ml-16 text-white relative z-10 font-serif flex items-center">
                <i id="toggle-menu" class="fa fa-bars block md:hidden mr-4 cursor-pointer"></i>
                <h1 class="text-2xl">ADMIN PANEL</h1>
            </div>
            <div class="bg-black opacity-20 w-full absolute top-0 bottom-0 z-0"></div>
        </nav>
        <section class="bg-sand-900 col-span-2 md:col-span-1 pb-16">
            <h1 class="text-3xl text-coffee-700 font-serif mt-20 mb-16 ml-6 lg:ml-12">ORDER MANAGER</h1>
            <div class="grid px-6 lg:px-12">
                <div class="grid grid-cols-8 md:grid-cols-7 gap-x-5 mb-9 w-full text-cappucino-700">
                    <div class="col-span-2 md:col-span-1">
                        <span>Date</span>
                    </div>
                    <div class="col-span-2 md:col-span-1">
                        <span>User</span>
                    </div>
                    <div class="col-span-3 md:col-span-2">
                        <span>Order</span>
                    </div>
                    <div class="col-span-1 hidden md:block">
                        <span>Total</span>
                    </div>
                    <div class="col-span-1">
                        <span>Action</span>
                    </div>
                </div>


                <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                <div data-type="order-card" class="grid md:grid-cols-7 grid-cols-8 gap-x-5 my-9 w-full items-start">
                    <div class="col-span-2 md:col-span-1 text-cappucino-700">
                        <span>15-01-21</span>
                    </div>
                    <div class="col-span-2 md:col-span-1 text-cappucino-700">
                        <span>John Doe</span>
                    </div>
                    <div class="col-span-3 md:col-span-2 flex flex-col gap-y-4">
                        <span class="text-cappucino-700">Green Espresso <span class="font-bold text-cappucino-900">x 1</span></span>
                        <span class="text-cappucino-700">Planalto <span class="font-bold text-cappucino-900">x 1</span></span>
                    </div>
                    <div class="col-span-1 hidden md:block">
                        <span class="text-cappucino-700">$ 41.00</span>
                    </div>
                    <div class="col-span-1 flex flex-col md:flex-row gap-x-4 gap-y-4">
                        <button data-action="complete-order" class="bg-green-500 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-green-700 hover:text-white transition duration-200 flex justify-center"><i class="fa fa-check"></i></button>
                        <button data-action="view-more" class="bg-coffee-700 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-cappucino-700 hover:text-white transition duration-200 flex justify-center"><i class="fas fa-eye"></i></button>
                    </div>

                    <!-- Customer Data -->
                    <div data-type="order-data" class="hidden">
                        <div class="grid gap-y-2 mb-8">
                            <h1 class="text-3xl font-serif text-coffee-700 mb-4">Address details</h1>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">User name</h4>
                                <h4 class="col-span-1" name="username">John Doe</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Country / State</h4>
                                <h4 class="col-span-1" name="country">United State</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Province</h4>
                                <h4 class="col-span-1" name="province">-</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Town/city</h4>
                                <h4 class="col-span-1" name="town">New York</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Postcode</h4>
                                <h4 class="col-span-1" name="postcode">10016</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Address</h4>
                                <h4 class="col-span-1" name="address">4668 Hoffman Avenue</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Phone number</h4>
                                <h4 class="col-span-1" name="phonenumber">917-937-1102</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Email address</h4>
                                <h4 class="col-span-1" name="emailaddress">johndoee@yahoo.com</h4>
                            </div>
                        </div>
                        
                        <div class="grid gap-y-2">
                            <h1 class="text-3xl font-serif text-coffee-700 mb-4">Orders</h1>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Product</h4>
                                <h4 class="col-span-1">Total</h4>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espresso <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espresso <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
            
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espress <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5 font-semibold">
                                <span class="col-span-1">Subtotal</span>
                                <span class="col-span-1 text-cappucino-700">$ 41.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Extravaganza disc. (-10% Max $5.00)</span>
                                <span class="col-span-1 text-cappucino-700">-$ 4.10</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5 font-semibold">
                                <span class="col-span-1">Total</span>
                                <span class="col-span-1 text-cappucino-700">$ 36.90</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                <div data-type="order-card" class="grid md:grid-cols-7 grid-cols-8 gap-x-5 my-9 w-full items-start">
                    <div class="col-span-2 md:col-span-1 text-cappucino-700">
                        <span>15-01-21</span>
                    </div>
                    <div class="col-span-2 md:col-span-1 text-cappucino-700">
                        <span>John Doe</span>
                    </div>
                    <div class="col-span-3 md:col-span-2 flex flex-col gap-y-4">
                        <span class="text-cappucino-700">Green Espresso <span class="font-bold text-cappucino-900">x 1</span></span>
                        <span class="text-cappucino-700">Planalto <span class="font-bold text-cappucino-900">x 1</span></span>
                    </div>
                    <div class="col-span-1 hidden md:block">
                        <span class="text-cappucino-700">$ 41.00</span>
                    </div>
                    <div class="col-span-1 flex flex-col md:flex-row gap-x-4 gap-y-4">
                        <button data-action="complete-order" class="bg-green-500 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-green-700 hover:text-white transition duration-200 flex justify-center"><i class="fa fa-check"></i></button>
                        <button data-action="view-more" class="bg-coffee-700 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-cappucino-700 hover:text-white transition duration-200 flex justify-center"><i class="fas fa-eye"></i></button>
                    </div>

                    <!-- Customer Data -->
                    <div data-type="order-data" class="hidden">
                        <div class="grid gap-y-2 mb-8">
                            <h1 class="text-3xl font-serif text-coffee-700 mb-4">Address details</h1>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">User name</h4>
                                <h4 class="col-span-1" name="username">John Doe</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Country / State</h4>
                                <h4 class="col-span-1" name="country">United State</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Province</h4>
                                <h4 class="col-span-1" name="province">-</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Town/city</h4>
                                <h4 class="col-span-1" name="town">New York</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Postcode</h4>
                                <h4 class="col-span-1" name="postcode">10016</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Address</h4>
                                <h4 class="col-span-1" name="address">4668 Hoffman Avenue</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Phone number</h4>
                                <h4 class="col-span-1" name="phonenumber">917-937-1102</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Email address</h4>
                                <h4 class="col-span-1" name="emailaddress">johndoee@yahoo.com</h4>
                            </div>
                        </div>
                        
                        <div class="grid gap-y-2">
                            <h1 class="text-3xl font-serif text-coffee-700 mb-4">Orders</h1>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Product</h4>
                                <h4 class="col-span-1">Total</h4>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espresso <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espresso <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
            
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espress <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5 font-semibold">
                                <span class="col-span-1">Subtotal</span>
                                <span class="col-span-1 text-cappucino-700">$ 41.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Extravaganza disc. (-10% Max $5.00)</span>
                                <span class="col-span-1 text-cappucino-700">-$ 4.10</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5 font-semibold">
                                <span class="col-span-1">Total</span>
                                <span class="col-span-1 text-cappucino-700">$ 36.90</span>
                            </div>
                        </div>
                    </div>
                </div>
            

                <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                <div data-type="order-card" class="grid md:grid-cols-7 grid-cols-8 gap-x-5 my-9 w-full items-start">
                    <div class="col-span-2 md:col-span-1 text-cappucino-700">
                        <span>15-01-21</span>
                    </div>
                    <div class="col-span-2 md:col-span-1 text-cappucino-700">
                        <span>John Doe</span>
                    </div>
                    <div class="col-span-3 md:col-span-2 flex flex-col gap-y-4">
                        <span class="text-cappucino-700">Green Espresso <span class="font-bold text-cappucino-900">x 1</span></span>
                        <span class="text-cappucino-700">Planalto <span class="font-bold text-cappucino-900">x 1</span></span>
                    </div>
                    <div class="col-span-1 hidden md:block">
                        <span class="text-cappucino-700">$ 41.00</span>
                    </div>
                    <div class="col-span-1 flex flex-col md:flex-row gap-x-4 gap-y-4">
                        <button data-action="complete-order" class="bg-green-500 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-green-700 hover:text-white transition duration-200 flex justify-center"><i class="fa fa-check"></i></button>
                        <button data-action="view-more" class="bg-coffee-700 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-cappucino-700 hover:text-white transition duration-200 flex justify-center"><i class="fas fa-eye"></i></button>
                    </div>

                    <!-- Customer Data -->
                    <div data-type="order-data" class="hidden">
                        <div class="grid gap-y-2 mb-8">
                            <h1 class="text-3xl font-serif text-coffee-700 mb-4">Address details</h1>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">User name</h4>
                                <h4 class="col-span-1" name="username">John Doe</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Country / State</h4>
                                <h4 class="col-span-1" name="country">United State</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Province</h4>
                                <h4 class="col-span-1" name="province">-</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Town/city</h4>
                                <h4 class="col-span-1" name="town">New York</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Postcode</h4>
                                <h4 class="col-span-1" name="postcode">10016</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Address</h4>
                                <h4 class="col-span-1" name="address">4668 Hoffman Avenue</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Phone number</h4>
                                <h4 class="col-span-1" name="phonenumber">917-937-1102</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Email address</h4>
                                <h4 class="col-span-1" name="emailaddress">johndoee@yahoo.com</h4>
                            </div>
                        </div>
                        
                        <div class="grid gap-y-2">
                            <h1 class="text-3xl font-serif text-coffee-700 mb-4">Orders</h1>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Product</h4>
                                <h4 class="col-span-1">Total</h4>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espresso <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espresso <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
            
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espress <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5 font-semibold">
                                <span class="col-span-1">Subtotal</span>
                                <span class="col-span-1 text-cappucino-700">$ 41.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Extravaganza disc. (-10% Max $5.00)</span>
                                <span class="col-span-1 text-cappucino-700">-$ 4.10</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5 font-semibold">
                                <span class="col-span-1">Total</span>
                                <span class="col-span-1 text-cappucino-700">$ 36.90</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                <div data-type="order-card" class="grid md:grid-cols-7 grid-cols-8 gap-x-5 my-9 w-full items-start">
                    <div class="col-span-2 md:col-span-1 text-cappucino-700">
                        <span>15-01-21</span>
                    </div>
                    <div class="col-span-2 md:col-span-1 text-cappucino-700">
                        <span>John Doe</span>
                    </div>
                    <div class="col-span-3 md:col-span-2 flex flex-col gap-y-4">
                        <span class="text-cappucino-700">Green Espresso <span class="font-bold text-cappucino-900">x 1</span></span>
                        <span class="text-cappucino-700">Planalto <span class="font-bold text-cappucino-900">x 1</span></span>
                    </div>
                    <div class="col-span-1 hidden md:block">
                        <span class="text-cappucino-700">$ 41.00</span>
                    </div>
                    <div class="col-span-1 flex flex-col md:flex-row gap-x-4 gap-y-4">
                        <button data-action="complete-order" class="bg-green-500 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-green-700 hover:text-white transition duration-200 flex justify-center"><i class="fa fa-check"></i></button>
                        <button data-action="view-more" class="bg-coffee-700 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-cappucino-700 hover:text-white transition duration-200 flex justify-center"><i class="fas fa-eye"></i></button>
                    </div>

                    <!-- Customer Data -->
                    <div data-type="order-data" class="hidden">
                        <div class="grid gap-y-2 mb-8">
                            <h1 class="text-3xl font-serif text-coffee-700 mb-4">Address details</h1>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">User name</h4>
                                <h4 class="col-span-1" name="username">John Doe</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Country / State</h4>
                                <h4 class="col-span-1" name="country">United State</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Province</h4>
                                <h4 class="col-span-1" name="province">-</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Town/city</h4>
                                <h4 class="col-span-1" name="town">New York</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Postcode</h4>
                                <h4 class="col-span-1" name="postcode">10016</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Address</h4>
                                <h4 class="col-span-1" name="address">4668 Hoffman Avenue</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Phone number</h4>
                                <h4 class="col-span-1" name="phonenumber">917-937-1102</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Email address</h4>
                                <h4 class="col-span-1" name="emailaddress">johndoee@yahoo.com</h4>
                            </div>
                        </div>
                        
                        <div class="grid gap-y-2">
                            <h1 class="text-3xl font-serif text-coffee-700 mb-4">Orders</h1>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Product</h4>
                                <h4 class="col-span-1">Total</h4>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espresso <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espresso <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
            
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espress <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5 font-semibold">
                                <span class="col-span-1">Subtotal</span>
                                <span class="col-span-1 text-cappucino-700">$ 41.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Extravaganza disc. (-10% Max $5.00)</span>
                                <span class="col-span-1 text-cappucino-700">-$ 4.10</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5 font-semibold">
                                <span class="col-span-1">Total</span>
                                <span class="col-span-1 text-cappucino-700">$ 36.90</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                <div data-type="order-card" class="grid md:grid-cols-7 grid-cols-8 gap-x-5 my-9 w-full items-start">
                    <div class="col-span-2 md:col-span-1 text-cappucino-700">
                        <span>15-01-21</span>
                    </div>
                    <div class="col-span-2 md:col-span-1 text-cappucino-700">
                        <span>John Doe</span>
                    </div>
                    <div class="col-span-3 md:col-span-2 flex flex-col gap-y-4">
                        <span class="text-cappucino-700">Green Espresso <span class="font-bold text-cappucino-900">x 1</span></span>
                        <span class="text-cappucino-700">Planalto <span class="font-bold text-cappucino-900">x 1</span></span>
                    </div>
                    <div class="col-span-1 hidden md:block">
                        <span class="text-cappucino-700">$ 41.00</span>
                    </div>
                    <div class="col-span-1 flex flex-col md:flex-row gap-x-4 gap-y-4">
                        <button data-action="complete-order" class="bg-green-500 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-green-700 hover:text-white transition duration-200 flex justify-center"><i class="fa fa-check"></i></button>
                        <button data-action="view-more" class="bg-coffee-700 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-cappucino-700 hover:text-white transition duration-200 flex justify-center"><i class="fas fa-eye"></i></button>
                    </div>

                    <!-- Customer Data -->
                    <div data-type="order-data" class="hidden">
                        <div class="grid gap-y-2 mb-8">
                            <h1 class="text-3xl font-serif text-coffee-700 mb-4">Address details</h1>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">User name</h4>
                                <h4 class="col-span-1" name="username">John Doe</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Country / State</h4>
                                <h4 class="col-span-1" name="country">United State</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Province</h4>
                                <h4 class="col-span-1" name="province">-</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Town/city</h4>
                                <h4 class="col-span-1" name="town">New York</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Postcode</h4>
                                <h4 class="col-span-1" name="postcode">10016</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Address</h4>
                                <h4 class="col-span-1" name="address">4668 Hoffman Avenue</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Phone number</h4>
                                <h4 class="col-span-1" name="phonenumber">917-937-1102</h4>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Email address</h4>
                                <h4 class="col-span-1" name="emailaddress">johndoee@yahoo.com</h4>
                            </div>
                        </div>
                        
                        <div class="grid gap-y-2">
                            <h1 class="text-3xl font-serif text-coffee-700 mb-4">Orders</h1>
                            <div class="grid grid-cols-2 gap-x-5 text-cappucino-700">
                                <h4 class="col-span-1">Product</h4>
                                <h4 class="col-span-1">Total</h4>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espresso <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espresso <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
            
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Green Espress <span class="text-coffee-900 font-semibold">x1</span></span>
                                <span class="col-span-1 text-cappucino-700">$ 15.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5 font-semibold">
                                <span class="col-span-1">Subtotal</span>
                                <span class="col-span-1 text-cappucino-700">$ 41.00</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5">
                                <span class="col-span-1">Extravaganza disc. (-10% Max $5.00)</span>
                                <span class="col-span-1 text-cappucino-700">-$ 4.10</span>
                            </div>
                            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
            
                            <div class="grid grid-cols-2 gap-x-5 font-semibold">
                                <span class="col-span-1">Total</span>
                                <span class="col-span-1 text-cappucino-700">$ 36.90</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>

            </div>

        


            </div>
        </section>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        var selectedOrder = [];
        
        $("*[data-action='view-more']").click(function(){
            const orderCard = $(this).parents("*[data-type=order-card]");
            const orderData = $(orderCard).find("*[data-type=order-data]").clone();
            orderData.removeClass("hidden");
            $("#modal-content").append(orderData);
            $("#modal").removeClass("invisible opacity-0").addClass("visible opacity-100");
            const top = window.scrollY;
            $("#main-content").css("top", `-${top}px`);
            $("#main-content").removeClass("relative").addClass("fixed");
            window.scrollTo(0,0);
        })

        $("#close-modal").click(function () {
            
            $("#modal").addClass("invisible opacity-0").removeClass("visible opacity-100");
            setTimeout(function (){
                $("#modal").addClass("invisible opacity-0").removeClass("visible opacity-100");
            }, 200);
            setTimeout(function () {
                $("#modal-content *[data-type=order-data]").remove();
                const top = $("#main-content").position().top;
                $("#main-content").removeClass("fixed").addClass("relative");
                $("#main-content").css("top", "0px");
            window.scrollTo(0, -1*top);
            }, 400);

        })

        $("#alert button").click(function () {
            const button = $(this);

            setTimeout(function (){
                    $("#alert").addClass("invisible opacity-0").removeClass("visible opacity-100");
                }, 200);
                setTimeout(function () {
                    const top = $("#main-content").position().top;
                    $("#main-content").removeClass("fixed").addClass("relative");
                    $("#main-content").css("top", "0px");
                window.scrollTo(0, -1*top);
                }, 400);

            if ($(this).attr("data-action") == "continue") {
                const [orderCard, line] = selectedOrder;
                selectedOrder = [];
                orderCard.slideUp(function () {
                    $(this).remove();
                    $(line).remove();
                })
            } 
        })

        $("*[data-action=complete-order]").click(function () {
            selectedOrder.push($(this).parents("*[data-type=order-card]"));
            selectedOrder.push($(this).parents("*[data-type=order-card]").next());

            $("#alert").removeClass("invisible opacity-0").addClass("visible opacity-100");
            const top = window.scrollY;
            $("#main-content").css("top", `-${top}px`);
            $("#main-content").removeClass("relative").addClass("fixed");
        })

        $("#toggle-menu").click(function () {
            $("aside").removeClass("-translate-x-64");
            $("#aside-overlay").removeClass("invisible").addClass("opacity-10");
        })

        $("#aside-overlay").click(function () {
            $("aside").addClass("-translate-x-64");
            $("#aside-overlay").removeClass("opacity-10").addClass("invisible");

        })
    </script>
</body>
</html>