<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <script src="https://kit.fontawesome.com/be6263c01e.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Document</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="w-screen flex flex-row mt-16 text-sand-900 justify-between items-center px-16 lg:px-10% absolute z-40 top-0">
      <div class="flex flex-row items-center justify-center">
        <img src="/public/images/Single Filled Beans.svg" class="pr-4 h-8 box-border" alt="logo" style="filter : invert(38%) sepia(100%) saturate(389%) hue-rotate(130deg) brightness(90%) contrast(92%)" />
        <h1 class="size text-3xl font-serif">coffee roaster</h1>
      </div>
      <ul class="list-none flex-row gap-10 text-xl hidden sm:flex">
        <li class="group cursor-pointer">
            <p>Home</p>
            <div class="mt-2 w-0 border border-l-0 border-t-0 border-r-0  group-hover:w-full transition-all duration-200"></div>
        </li>
        <li class="group cursor-pointer">
            <p>Shop</p>
            <div class="mt-2 w-0 border border-l-0 border-t-0 border-r-0  group-hover:w-full transition-all duration-200"></div>
        </li>
        <li class="group cursor-pointer">
            <p>Blog</p>
            <div class="mt-2 w-0 border border-l-0 border-t-0 border-r-0  group-hover:w-full transition-all duration-200"></div>
        </li>
        <li class="group cursor-pointer">
            <p>Workshop</p>
            <div class="mt-2 w-0 border border-l-0 border-t-0 border-r-0  group-hover:w-full transition-all duration-200"></div>
        </li>
      </ul>
      <i id="nav-toggle" class="sm:hidden fa fa-bars cursor-pointer"></i>
    </nav>



    <section class="h-screen fixed z-40 pointer-events-none">
        <div id="nav-expand" class="w-screen h-screen relative bg-black text-white transition-all duration-500 ease-linear" style="transform: rotateX(90deg);transform-origin: top center;">
            <div class="absolute right-16 top-16">
                <i id="nav-close" class="sm:hidden fa fa-times cursor-pointer"></i>
            </div>
            <ul class="list-non h-full  gap-10 text-xl flex flex-col justify-center items-center w-100 h-100 px-auto">
                <li class="group cursor-pointer">
                    <p>Home</p>
                    <div class="mt-2 w-0 border border-l-0 border-t-0 border-r-0  group-hover:w-full transition-all duration-200"></div>
                </li>
                <li class="group cursor-pointer">
                    <p>Shop</p>
                    <div class="mt-2 w-0 border border-l-0 border-t-0 border-r-0  group-hover:w-full transition-all duration-200"></div>
                </li>
                <li class="group cursor-pointer">
                    <p>Blog</p>
                    <div class="mt-2 w-0 border border-l-0 border-t-0 border-r-0  group-hover:w-full transition-all duration-200"></div>
                </li>
                <li class="group cursor-pointer">
                    <p>Workshop</p>
                    <div class="mt-2 w-0 border border-l-0 border-t-0 border-r-0  group-hover:w-full transition-all duration-200"></div>
                </li>
              </ul>
        </div>
    </section>

    <section class="relative w-screen bg-cover bg-center" style="background-image: url('/public/images/coffee\ shop.jpg'); height: 50vh;">
        <div class = "px-16 lg:px-10% relative z-10 flex flex-col h-full w-full items-center justify-center text-center text-sand-900">
            <h1 data-aos="fade-up" class="text-4xl font-serif uppercase">Shopping Cart</h1>
            <div class="justify-self absolute bottom-16"><i class="fa fa-chevron-down animate-bounce"></i></div>
        </div>
        <div class="absolute top-0 bg-black h-full w-full opacity-50"></div>
    </section>

    <section class="py-32 relative flex flex-col bg-sand-900 text-cappucino-700">

        <!-- LOADING ANMIATION -->
        <div class="absolute top-32 left-0 right-0 bottom-32 bg-sand-900 opacity-90 flex justify-center items-center hidden">TEST</div>

        <!-- order table -->
        <div class="px-2 sm:px-16 lg:px-10% grid row-auto">
            <!-- table header -->
            <div class="grid grid-cols-6 gap-x-5 mb-9 w-full">
                <div class="col-span-1"></div>
                <div class="ml-4 col-span-2">
                    <span>Product</span>
                </div>
                <div class="col-span-1">
                    <span>Price</span>
                </div>
                <div class="col-span-1">
                    <span>Product</span>
                </div>
                <div class="col-span-1">
                    <span>Total</span>
                </div>
            </div>

            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>

            <div data-type="product-card" class="grid grid-cols-6 gap-x-5 my-9 w-full items-center">
                <div class="col-span-1 flex justify-center">
                    <i data-action="remove-product" class="fa fa-times transition hover:text-cappucino-900 cursor-pointer" style="-webkit-text-stroke: 1px #F2EFED;"></i>
                </div>
                <div class="col-span-2 flex flex-row items-center">
                    <img src="/public/images/GreenEspresso.png" alt="" class="hidden sm:block"style="width: 100px;">
                    <span>Green Espresso</span>
                </div>
                <div class="col-span-1">
                    <span>$ 15.00</span>
                </div>
                <div class="col-span-1">
                    <div data-name="quantity" class="grid grid-cols-1 sm:grid-cols-3 w-3/4" style="max-width: 100px;">
                        <div data-name="number" class="row-span-2 col-span-2 border border-coffee-900 flex items-center justify-center py-2 sm:py-0">1</div>
                        <div data-action="add" class="sm:row-start-auto sm:col-span-1 row-start-1 border sm:border-l-0 border-b-0 border-coffee-900 hover:text-coffee-900 hover:font-medium transition-all cursor-pointer flex items-center justify-center">+</div>
                        <div data-action="substract"class="col-span-1 border border-t-0 sm:border-t sm:border-l-0 border-coffee-900 hover:font-medium hover:text-coffee-900 transition-all cursor-pointer flex items-center justify-center">-</div>
                    </div>
                </div>
                <div class="col-span-1">
                    <span>$ 15.00</span>
                </div>
            </div>

            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>


            <div data-type="product-card" class="grid grid-cols-6 gap-x-5 my-9 w-full items-center">
                <div class="col-span-1 flex justify-center">
                    <i data-action="remove-product" class="fa fa-times transition hover:text-cappucino-900 cursor-pointer" style="-webkit-text-stroke: 1px #F2EFED;"></i>
                </div>
                <div class="col-span-2 flex flex-row items-center">
                    <img src="/public/images/GreenEspresso.png" alt="" class="hidden sm:block"style="width: 100px;">
                    <span>Green Espresso</span>
                </div>
                <div class="col-span-1">
                    <span>$ 15.00</span>
                </div>
                <div class="col-span-1">
                    <div data-name="quantity" class="grid grid-cols-1 sm:grid-cols-3 w-3/4" style="max-width: 100px;">
                        <div data-name="number" class="row-span-2 col-span-2 border border-coffee-900 flex items-center justify-center py-2 sm:py-0">1</div>
                        <div data-action="add" class="sm:row-start-auto sm:col-span-1 row-start-1 border sm:border-l-0 border-b-0 border-coffee-900 hover:text-coffee-900 hover:font-medium transition-all cursor-pointer flex items-center justify-center">+</div>
                        <div data-action="substract"class="col-span-1 border border-t-0 sm:border-t sm:border-l-0 border-coffee-900 hover:font-medium hover:text-coffee-900 transition-all cursor-pointer flex items-center justify-center">-</div>
                    </div>
                </div>
                <div class="col-span-1">
                    <span>$ 15.00</span>
                </div>
            </div>
            <div class="w-full border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>

        </div>

        <div class="px-2 sm:px-16 lg:px-10% mt-16 sm:ml-0 ml-4">
            <input type="text" class="outline-none border rounded-sm border-coffee-700 py-2 px-6 bg-transparent text-sm placeholder-coffee-100 mr-2" placeholder="Coupon Code">
            <button class="bg-coffee-700 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-cappucino-700 hover:text-white transition duration-200">Apply Coupon</button>
        </div>


        <div class="px-2 sm:px-16 lg:px-10% mt-16 sm:ml-0 ml-4">
            <h1 class="text-3xl text-coffee-700 font-serif">CART TOTALS</h1>
            <!-- TOTAL TABLES -->
            <div class="grid grid-cols-2 lg:max-w-xl mt-4 mb-16 gap-y-2 text-cappucino-700">
                <div>Subtotals</div>
                <div class="ml-8">$ 41.00</div>
                <div>Extravaganza disc. (-10% Max $5.00)</div>
                <div class="ml-8">-$ 4.1</div>
                <div class="w-full col-span-2 border border-l-0 border-t-0 border-r-0 border-coffee-100"></div>
                <div class="">Total</div>
                <div class="ml-8">$ 36.9</div>
            </div>

            <button class="bg-coffee-700 rounded-sm py-2 px-6 text-white pointer text-sm hover:bg-cappucino-700 hover:text-white transition duration-200">Proceed to Checkout</button>

        </div>
    </section>



    <!-- FOOTER -->
    <footer class="py-16 px-16 bg-black z-20 relative">
        <div class="flex flex-row items-center text-white">
            <img src="/public/images/Single Filled Beans.svg" class="pr-4 h-8 box-border" alt="logo" style="filter : invert(38%) sepia(100%) saturate(389%) hue-rotate(130deg) brightness(90%) contrast(92%)" />
            <h1 class="size text-3xl font-serif">coffee roaster</h1>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init({
            delay : "250",
        })
        $("*[data-action='add'] , *[data-action='substract']").on("mousedown", function () {
            const quantity = $(this).siblings("*[data-name='number']");

            if (quantity.text() === "1" && $(this).attr("data-action") === "substract") return;
            if (quantity.text() === "1" && $(this).attr("data-action") === "add") $(this).parent().find("*[data-action='substract']").removeClass("bg-gray-300");


            quantity.text(($(this).attr("data-action") === "add") ?  Number(quantity.text())+ 1 :  Number(quantity.text())-1);
            if (quantity.text() == "1") { 
                const substractButton = $(this).parent().find("*[data-action='substract']");
                substractButton.addClass("text-gray-300");
                substractButton.removeClass("hover:bg-coffee-700 hover:text-sand-700 cursor-pointer");

            }

        })

        $("#nav-toggle").click(function () {
            $("#nav-expand").css("transform", "rotateX(0deg)");
            $("#nav-expand").parent().removeClass("pointer-events-none");
            $("body").addClass("overflow-y-hidden");
            $.map($("#nav-expand li"), function (element, index) {
                $(element).hide().fadeIn(500 + (500 * index));
            })
        })

        $("#nav-close").click(function () {
            $("#nav-expand").css("transform", "rotateX(90deg)");
            $("#nav-expand").parent().addClass("pointer-events-none");
            $("body").removeClass("overflow-y-hidden");
        })

        $(".fa-times[data-action='remove-product']").click(function () {
            const card = $(this).parents("*[data-type='product-card']")
            $(card).slideUp("slow", function() {$(this).remove()});
            $(card).next().remove();
        })
    </script>

</body>
</html>